.inner { position: relative; }
.logo { display: inline-block; font-size: 20px; margin: .5em 15px; }
.ui-input-search {
    position: absolute;
    top: 3px;
    float: left;
    right:65px;
    width: 20%;
    -webkit-transition: width 600ms ease;
    -moz-transition: width 600ms ease;
    -o-transition: width 600ms ease;
    transition: width 600ms ease;
}
.ui-input-search.ui-focus { width: 40%; }


#icon_holder{
    position: absolute;
    top: 3px;
    right: 2px;
}
.red_color{
    color:red;
}

.ui-icon-logout:after {
    background-image: url("images/logout.svg");
}

#no_data,.no_data{
    text-align: center;
}


.btn-social{
    margin-right: 5px;
}
.btn-social,.forgot-password{
    font-size: 14px;
    text-decoration: none;
}
.btn-social img{
    vertical-align: middle;
    margin-right: 5px;
}
.footer{
    text-align: center;
}
.ui-content .ui-listview{
    margin: 0px;
}