﻿.ui-page
{
    background: url(images/gradient.png) repeat;
    font-family: "HelveticaNeue-Light" , "Helvetica Neue Light" , "Helvetica Neue" , Helvetica, Arial, "Lucida Grande" , sans-serif;
    font-weight: 300;
    text-align: left;
    text-decoration: none;
}
​ .header
{
    height: 36px !important;
    line-height: 34px !important;
}
.remove-shadow-border
{
    border: none !important;
    box-shadow: none !important;
}
.messagebox_header
{
    padding: 10px;
    font-family: serif;
    font-size: 22px;
    font-weight: 600;
}
.messagebox_content
{
    padding: 10px;
    font-family: serif;
    font-size: 20px;
    font-weight: 500;
}
.popup_messagebox, .popup
{
    position: fixed;
    padding: 0 !important;
    border: solid 1px black;
    border-radius: 0.5em !important;
    -webkit-border-radius: .5em !important;
    min-width: 280px !important;
    max-width: 280px !important;
    vertical-align: middle;
    z-index: 100000000000;
}
.popup
{
    overflow: hidden;
}
.cover_background
{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 10000px;
    height: 10000px;
    opacity: 0.1;
    z-index: 10000;
}
.cover_background_sliding_page
{
    position: fixed;
    top: 0px;
    left: 240px;
    width: 10000px;
    height: 10000px;
    opacity: 0.1;
    z-index: 10000;
}
.red_background
{
    background-color: Red;
}
.accept_button_area
{
    float: right;
}

.hidden
{
    display: none !important;
}
.search_bar_area
{
    margin-right: 10px;
}

